{% extends "base.html" %}

{% block includes %}<link href="{{ MEDIA_URL }}css/header.css" rel="stylesheet" type="text/css" />{% endblock %}

{% block slider %}{% endblock %}

{% block content %}
	<div class="ourwebsite clear">
		<h1>About Django Hosting</h1>
        <p>Here at Django Hosting we're looking to provide the best information on places where you can host your Django applications.  There are lots of choices out there and it can get confusing when you're not sure what to look for.</p>

        <p>Like other websites we're providing links to the most popular hosts out there, but unlike others we allow you to add hosts that you enjoy.  This benefits the community in a number of ways: <ol><li>1. More choices to choose from</li><li>2. The ability to get new hosts noticed</li><li>3. Obscure hosts that provide excellent service can get some limelight</li></ol></p>
    
        <p>In the near future we'll also have the ability to read reviews on the different hosts and add your own comments.</p>

		<h1>About Django</h1>
		<p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.</p>

		<p>Developed four years ago by a fast-moving online-news operation, Django was designed to handle two challenges: the intensive deadlines of a newsroom and the stringent requirements of the experienced Web developers who wrote it. It lets you build high-performing, elegant Web applications quickly.</p>

		<p><a href='http://djangoproject.com'>Check it out</a></p>
	</div>
{% endblock %}
