{% extends "base.html" %}

{% block includes %}<link href="{{ MEDIA_URL }}css/header.css" rel="stylesheet" type="text/css" />{% endblock %}

{% block slider %}{% endblock %}

{% block content %}
	<div class="ourwebsite clear">
        {% if message %}
            <div class='added'>{{ message }}</div>
        {% endif %}
        <h2>Adding a new Host</h2>
        <form method='POST' action='{% url add %}'>
            {% csrf_token %}
            {{form.as_p }}
            <input type='submit' name='submit' class='submit' value='Add a new Host' />
        </form>
	</div>
{% endblock %}
