<!DOCTYPE html> 
<html> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> 
			<link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css" /> 
			<link rel="alternate" type="application/rss+xml" title="RSS [Templates]" href="http://feeds2.feedburner.com/themecss" /> 
			<link rel="shortcut icon" href="http://www.themecss.com/img/favicon.ico" /> 
 
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
			<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.easing.min.js"></script> 
			{% if not featured %}
				<link href="{{ MEDIA_URL }}css/header.css" rel="stylesheet" type="text/css" />
			{% endif %}
			
			<!--[if lt IE 7]>
				<script type="text/javascript" src="{{ MEDIA_URL }}js/unitpngfix.js"></script>
			<![endif]--> 
			{% block includes %}{% endblock %}
 
			<title>{% block title %}Django Hosting Websites{% endblock %}</title> 
	</head> 
 
	<body> 
	<div class="container clear"> 
		{% block header %}
		<div class="header clear"> 
			<div class="logo"><a href="{% url index %}" title="Django Hosting Websites"><h1>Django Hosting</h1></a></div> 
			<div class="menu"> 
				<ul class="lavaLampWithImage" id="menu_bg"> 
					<li class="current"><a href="{% url index %}">Home</a></li> 
					<li><a href="{% url about %}">About</a></li> 
					<li><a href="{% url add %}" id='add-new'>Add a New Host</a></li>
				</ul>		
			</div> 
		</div> 
		{% endblock %}

		{% block slider %}
		{% if featured %}
		<div class="body_area clear"> 
	    	<!-- BOUNCE SLIDE FROM TOP -->  
	       	<div id="sliding"> 
   	         		<div class="primarycontainer clear"> 
   	         			<div class="latest-works clear"> 
             	       		<div class="largepic"><img src="{{ MEDIA_URL }}{{ featured.large_image }}" alt="" title="" /></div> 
             	       		<div class="smallpic"> 
             	        	    <ul> 
             	                	<li><img src="{{ MEDIA_URL }}{{ featured.small_image_one }}" alt="" title="" /></li> 
             	               		<li class="bottom"><img src="{{ MEDIA_URL }}{{ featured.small_image_two }}" alt="" title="" /></li> 
                	       		</ul> 
                	    	</div> 
                		</div> 
                		<div class="sidecontent"> 
                    		<h2>{{ featured.name }}</h2> 
                    		<p>{{ featured.description|slice:":400" }}...</p><a href='#'>Read More</a>
                    		<div class="links clear"> 
                       			<ul> 
                        	    	<li class="visit"><a href="{{ featured.get_url }}">Visit Website</a></li> 
                        		</ul> 
                    		</div>				
                		</div> 
            		</div> 
			</div> <!-- sliding --> 
		</div>  <!-- body_area -->
		{% endif %}
		{% endblock %}
        
    	<!--MIDDLE CONTAINER--> 
    	<div class="middle-container"> 
    	
        	<!--MIDDLE CONTENTS--> 
        	<div class="middlecontent clear"> 
				<div class="featuredservices">
                    <h2>Recommended Hosts</h2>
                    <ul>
                        {% for site in featured_hosts %}
                            <li>
                                <a class="title" href="{% url view_host site.slug %}">{{ site.name }}</a>
                                <p>
                                    {{ site.description|slice:":255" }}...
                                </p>
                                <a href="{{ site.get_url }}" class="readmore">Visit Website</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
				{% block content %}
            	<div class="ourwebsite clear"> 
                    {% for host in hosts %} 
            	        {% ifchanged host.type %}<h2>{{ host.type }}</h2><div class='info'>{{ host.type.description }}</div>{% endifchanged %} 
                        <div class='host'>
                            <h3>{{ host.name }}</h3>
                	        <div class="welcome"> 
                	            <p> 
                	                {{ host.description }} 
                	            </p> 
                                <a href="{{ host.get_url }}" class='readmore'>Visit Website</a>
            		        </div>                   
                        </div>
                    {% endfor %}
            	</div> 
				{% endblock %}
        	</div> <!-- middlecontent --> 
    	</div> <!-- middle-container --> 
        
    	<!--FOOTER CONTENTS--> 
   		{% block footer %} 
		<div class="footer"> 
			<p> 
    	    	Copyright &copy; 2010 <a href='{% url index %}'>Django Hosting</a>. Developed by: <a href="http://41six.com">Adam McKerlie</a>.
    	    </p> 
		</div> 
		{% endblock %}
	</div> <!-- container -->
	</body> 
</html> 
